* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content > div {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: rgb(101, 101, 101);
}
.cell:hover {
  background-color: brown;
}
