* {
  margin: 0;
  padding: 0;
}
body {
  height: auto;
  width: auto;
}

.content {
  height: auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 5vh;
}

.firstGrid {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  grid-row: 2/3;
  grid-column: 1/2;
}
.secondGrid {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  grid-row: 2/3;
  grid-column: 2/3;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: rgb(101, 101, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.cell:hover {
  background-color: brown;
}

.startBtn {
  width: 10vw;

  background-color: rgb(43, 148, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100vw;
  height: 10vh;
  background-color: rebeccapurple;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}
.container {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 80%;
}

.window {
  background-color: red;
  width: 10rem;
  height: 2rem;
}
#firstWin {
  background-color: chartreuse;
  grid-column: 1/2;
  grid-row: 1/2;
}
#secondWin {
  background-color: rgb(229, 95, 249);
  grid-column: 3/4;
  grid-row: 1/2;
}

.winner {
  width: 100vw;
  background-color: aquamarine;
  height: 10vh;
  grid-row: 1/2;
  grid-column: 1/3;
}

.active {
  border: 10px solid black;
}

.randomBtn {
  background-color: rgb(143, 255, 16);
}

.btn {
  width: 10vw;
  height: 2vw;
}

.resetBtn {
  background-color: rgb(245, 69, 56);
}
