* {
  margin: 0;
  padding: 0;
}
body {
  height: auto;
  width: auto;
}

.content {
  height: auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 5vh;
}

.firstGrid {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  grid-row: 2/3;
  grid-column: 1/2;
}
.secondGrid {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  grid-row: 2/3;
  grid-column: 2/3;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: rgb(101, 101, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.cell:hover {
  background-color: brown;
}

.startBtn {
  width: 10vw;
  height: 2vw;
  background-color: rgb(43, 148, 239);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100vw;
  height: 10vh;
  background-color: rebeccapurple;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.window {
  width: 15vw;
  height: 8vh;
  background-color: red;
}

.winner {
  width: 100vw;
  background-color: aquamarine;
  height: 10vh;
  grid-row: 1/2;
  grid-column: 1/3;
}

.active {
  border: 10px solid black;
}
